Options +FollowSymLinks

DirectoryIndex home.php

php_flag display_errors off

RewriteEngine On

RewriteRule ^admin/$ admin/Dashboard.php [L] 

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.php [NC,L]

RewriteCond %{THE_REQUEST} "^[^ ]* .*?\.php[? ].*$"
RewriteRule .* - [L,R=404]

RewriteRule ^blog/post/([0-9]+)/([0-9A-Za-z\-_]+) post.php?id=$1&title=$2


ErrorDocument 404 /error_pages/404.html
